.box {
    width: 500px;
    height: 500px;
    background-color: rgb(80, 47, 50);
    position: relative;
}

#image {
    position: absolute;
    top: 100px;
    left: 100px;
}

.shape {
    position: absolute;
}

.square {
    background-color: rgb(25, 25, 108);
    width: 150px;
    height: 150px;
    cursor: pointer;
    top: 20px;
    left: 253px;
}

.circle {
    background-color: rgb(206, 37, 99);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    cursor: pointer;
    top: 204px;
    left: 230px;
}

.triangle {
    width: 0px;
    height: 0px;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 120px solid rgb(115, 198, 115);
    cursor: pointer;
    top: 170px;
    left: 272px;
}

img {
    height: 50%;
    width: 60%;
    top: 2px;
    left: -40px;
}

#paragraph {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 20px;
}

p {
    position: relative;
    margin: 0px;
    color: rgb(0, 0, 0);
    font-family: "IM Fell English", sans-serif;
    font-size: 24px;
    cursor: pointer;
    line-height: 1.5;
}

.im-fell-english-regular {
    font-family: "IM Fell English", serif;
    font-weight: 400;
    font-style: normal;
}

.im-fell-english-regular-italic {
    font-family: "IM Fell English", serif;
    font-weight: 400;
    font-style: italic;
}